<hr>
<div class="container">
<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
              <div class="col-md-12 text-right">
                <a [routerLink]="['/product']" class="btn btn-outline-primary col-md-2 col-sm-2" routerLinkActive="router-link-active" >Quay lại</a>
              </div>
              <div class="col-md-12">
                <span class="card-title display-4 col-md-10 col-sm-12">{{form.name}}</span>
              </div>
                <!-- <h6 class="card-subtitle">globe type chair for rest</h6> -->
                <hr>
                <div class="row">
                  <div class="col-lg-5 col-md-5 col-sm-6">
                      <div class="white-box text-center">
                          <img src="{{form.img}}" class="img-responsive"> </div>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-6">
                      <h4 class="box-title m-t-40">Mô tả</h4>
                      <p>{{form.description}}</p>
                      <h2 class="m-t-40">Giá {{form.price}} VND
                          <!-- <small class="text-success">(36% off)</small> -->
                      </h2>
                      <button (click)="ticket(form.id)" class="btn  btn-outline-warning">Mượn </button>
                      <!-- <h3 class="box-title m-t-40">Key Highlights</h3>
                      <ul class="list-unstyled">
                          <li>
                              <i class="fa fa-check text-success"></i> Sturdy structure</li>
                          <li>
                              <i class="fa fa-check text-success"></i> Designed to foster easy portability</li>
                          <li>
                              <i class="fa fa-check text-success"></i> Perfect furniture to flaunt your wonderful collectibles</li>
                      </ul> -->
                  </div>
                </div>
                    <hr>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3 class="box-title m-t-40">Các thông tin khác</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Tác giả</td>
                                        <td> {{form.author}} </td>
                                    </tr>
                                    <tr>
                                        <td>Nhà xuất bản</td>
                                        <td> {{form.company}} </td>
                                    </tr>
                                    <tr>
                                        <td>Nhà phát hành</td>
                                        <td> {{form.pushlisher}} </td>
                                    </tr>
                                    <tr>
                                        <td>Kích thước</td>
                                        <td> {{form.size}} </td>
                                    </tr>
                                    <!-- <tr>
                                        <td>Thể loại</td>
                                        <ng-container *ngFor="let cate of category" >
                                          <td *ngIf="cate.id == form.categories_id">{{ cate?.title}}</td>
                                       </ng-container>
                                    </tr> -->
                                    <tr>
                                        <td>Dịch giả</td>
                                        <td> {{form.translator}} </td>
                                    </tr>
                                    <tr>
                                        <td>Cân nặng</td>
                                        <td> {{form.weight}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                    <article class="card col-lg-12 col-md-12 col-sm-12">
                      <div class="card-body">
                        <h4>Trích đoạn của truyện</h4>
                        <hr>
                      {{form.contents}}
                      </div> <!-- card-body.// -->
                    </article> <!-- card.// -->
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<br>
