<div class="container auth-wrapper d-flex no-block justify-content-center align-items-center" style="min-height: 430px;">
  <div class="auth-box">
    <div id="recoverform" [ngClass]="{'d-block': recoverform}" style="margin: 10px 0;">
      <div class="logo">
          <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
          <h5 class="font-medium m-b-20">lấy lại mật khẩu</h5>
          <span>Vui lòng nhập EMail mà bạn dùng để đăng ký</span>
      </div>
      <div class="row m-t-20">
          <!-- Form -->
          <form class="col-12" #RequestResetForm=ngForm (ngSubmit)="onSubmit()">
              <!-- email -->
              <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope-square"></i></span>
                    </div>
                    <input class="form-control form-control-lg" id="inputEmail3" name="email"
                    [(ngModel)]="form.email" type="email" required placeholder="Email">
              </div>
              <!-- pwd -->
              <div class="row m-t-20">
                  <div class="col-12">
                      <button class="btn btn-block btn-lg btn-danger" type="submit" name="action" [disabled]="!RequestResetForm.valid">Lấy lại</button>
                  </div>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
