/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import "~ng-snotify/styles/material";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~ngx-tabset/ngx-tabset";
/* nhập sai */
/* .ng-invalid:not(form){
    border-left: 5px solid red;
} */
/* nhập đúng
.ng-valid:not(form){
  border-left: 5px solid green;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
